* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: grey;
}

img {
  max-width: 100%;
  display: block;
}

/* =================
    Typography
  ================== */

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
}

h3 {
  color: #1792d2;
}

h1 {
  font-size: 1.75rem;
  margin: 0;
}

p {
  line-height: 1.8rem;
}

strong {
  font-weight: 700;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}

nav {
  letter-spacing: 0.2rem;
}

.header-subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  letter-spacing: 0.2rem;
}

.article-title,
.widget-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.widget-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.widget-title,
.widget-recent-post-title {
  font-size: 1rem;
}

.widget-recent-post-title {
  color: #143774;
}

.article-info {
  margin: 2em 0;
}

.widget-recent-post {
  margin-bottom: 2em;
}

.container-footer {
  color: #fff;
  opacity: 0.54;
}

footer p {
  margin: 0.5rem 0;
}

.footer-title {
  font-weight: 700;
}

/* =================
    Layout
  ================== */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  background: #f8f8f8;
  padding: 3em 0;
  text-align: center;
  margin-bottom: 2em;
}

/* Navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

nav li {
  margin: 0.5em 0;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

/* Main */
main {
  width: 100%;
}

aside {
  width: 100%;
}

.container-main > img {
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}

.container-main {
  margin-bottom: 10em;
}

/* Arrticle */
.article-featured {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1.5px solid lightgrey;
}

/* arrages the order of the article info */
.article-recent {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

/* Footer */
footer {
  background: #143774;
  padding: 3em 0;
  margin: 0 auto;
}

.container-footer {
  text-align: center;
}

/* =================
    Media Query
  ================== */

@media (min-width: 750px) {
  .container-flex {
    flex-direction: row;
  }

  header {
    text-align: left;
  }

  main {
    width: 65%;
  }

  aside {
    width: 25%;
    min-width: 270px;
    margin-left: 1em;
  }

  nav ul {
    flex-direction: row;
    margin: 1rem 0;
  }

  nav li {
    margin-left: 2em;
  }

  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 65%;
  }

  .article-recent-secondary {
    width: 32%;
  }

  .article-featured {
    display: flex;
    flex-direction: column;
  }

  .article-image {
    order: -2;
  }

  .article-image {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }

  .article-info {
    order: -1;
  }

  .sidebar-widget {
    padding: 1.5rem;
    border: 20px solid rgb(231, 229, 229);
    margin-bottom: 2em;
  }

  .widget-recent-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    border-bottom: 1px solid lightgrey;
  }

  .widget-recent-post:last-child {
    border: 0;
    margin: 0;
  }

  .widget-title {
    text-transform: uppercase;
  }

  .widget-image {
    order: -1;
  }

  .widget-post-title {
    /* order: 2; */
    margin: 1em 0;
  }
}
